<app-message-queue></app-message-queue>
<div class="mixer-wrapper">
  <div class="mixer-container">
    <!-- <div class="mixer-session-overlay" *ngIf="!isAudioSessionActive" >
      <div class="mixer-session-overlay-items" >
        <ion-button (click)="InitAudioSession()">
          Activate Audio Session
        </ion-button>
      </div>
    </div> -->
    
    <div class="soundboard-wrapper">
      <div class="soundboard-container">
        <div class="audio-session-container">
          <ion-list>
            <ion-item lines="none" >
              <ion-button *ngIf="!isAudioSessionActive" slot="end" [color]="'medium'" (click)="InitAudioSession()">
                <ion-icon slot="icon-only" name="options" ></ion-icon>
              </ion-button>
              <ion-button *ngIf="isAudioSessionActive" slot="end" [color]="'success'" (click)="DeinitAudioSession()">
                <ion-icon slot="icon-only" name="options" ></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
        <div class="channel-wrapper" *ngFor="let mixer of selectedSoundLevel.MixerChannelsJson.Channels; index as i;" >
          <div class="mixer-knob-container" *ngFor="let mixerKnob of mixer.MixerKnobs; index as ind;" >
            <img src="../../assets/images/{{mixerKnob.MixerKnobImage}}"
                 id="eqKnob{{i}}{{ind}}"
                 (pan)="TurnEqKnob($event, mixerKnob, i, ind)" />
            <p class="mixer-knob-value">
              {{mixerKnob.CurrentVolume}}
            </p>
          </div>
          <div class="mixer-options-wrapper">
            <div class="mixer-options-container"
                 id="channelView{{i}}"
                 [style.background]="mixer.ChannelColor"
                 (tap)="ToggleMuteButton(mixer, i)"
                 (press)="OpenMixerMenu(mixer)">
              <div class="mixer-options-icon">
                <ion-icon size="large" name="{{mixer.ChannelIconName}}"></ion-icon>
              </div>
              <div class="mixer-options-label">
                {{mixer.ChannelDisplayName}}
              </div>
              <div class="mute-button"
                   [hidden]="!mixer.IsMuted">
              </div>
            </div>
          </div>
          <div class="slider-wrapper">
            <div class="slider-container">
              <div class="mixer-slider-container">
                  <div id="meter{{i}}" class="audio-meter">
                    <!-- <div class="meter-label" *ngFor="let level of meterLabels">{{level}}db</div> -->
                    <div [id]="'meter-mask-' + i.toString()" class="audio-meter-mask"></div>
                  </div>
                  <mat-slider class="mixer-slider" min="0" max="2" step="0.01" (pan)="Log()" (input)="UpdateVolume($event, i, mixer)" [(ngModel)]="mixer.CurrentVolume" vertical></mat-slider>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="utility-wrapper">
      <div class="utility-container">
        <ion-list-header id="commercial-container" class="selected-container" (click)="ToggleUtilityContainer(false)">
          <ion-label >
            Commercials
          </ion-label>
        </ion-list-header>
        <ion-list-header id="pad-container" (click)="ToggleUtilityContainer(true)">
          <ion-label>
            Pads
          </ion-label>
        </ion-list-header>
        <div class="commercial-container" *ngIf="!showPads">
          <ion-list class="file-list" >
            <ng-container class="file" *ngFor="let spot of userInfo.SpotCollections; let i = index">
              <ion-item color="dark" (click)="SelectCommercialToEdit(i)">
                {{spot.Name}}
              </ion-item>
            </ng-container>
          </ion-list>
          <div class="commercial-audio-player">
            <app-audio-player *ngIf="isAudioSessionActive"></app-audio-player>
          </div>
        </div>
        <div class="pad-list-container" *ngIf="showPads">
          <div class="pad-list" *ngFor="let spot of userInfo.PadCollections[selectedPadCollectionIndex].SpotList; let i = index">
            <div class="pad-item">
              <ion-img [style.background]="spot.Setting.PadCollectionBackgroundColor" id="padImage{{i}}" src="../../assets/images/SoundPad8.png" (click)="PlayAudioFile(spot)"></ion-img>
              <ion-label class="pad-item-name">{{spot.Name}}</ion-label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>