// Audio stuffs
.audio-player-heading{
    padding: 0px;
    font-size: medium;
}
.audio-player-view{
    --background: transparent;
}
.audio-player-controls{
    --background: transparent;
    width: 100%;
}
.audio-player-controls .center-icon{
    width: 100%;
    text-align: center;
}
.disabled-icon{
    color: rgba(255,255,255,.5);
}
.now-playing{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.now-playing-label {
    font-weight: bold;
}