.create-account-wrapper{
    display: block;
    width: 94%;
    margin: auto;
}
.create-account-container{
    display: block;
    float: left;
    width: 100%;
}
.input-validation{
    display: block;
    margin: 0 2%;
}