<!-- BLUETOOTH LE -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      BLE Connect
    </ion-title>
    <ion-label *ngIf="showScanning">
      Scanning<ion-spinner name="dots"></ion-spinner>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="StartScan()" >
        Scan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-list> 
    <ion-item *ngFor="let device of devices">
      <div>
      <h2>{{ device.name || 'Unnamed' }}</h2>
          {{ device.address }} <br>
          RSSI: {{ device.rssi }} <br>
          Advertisement Info: <br>
          <ng-container *ngFor="let ad of device.advertisement | keyvalue">
            <div>
              {{ad.key}}:{{ad.value}}
            </div>
          </ng-container> <br>
          Status: {{device.status}}
        </div> 
    </ion-item>
   </ion-list>  -->

   <!-- BLE -->
   <!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        BLE Connect
      </ion-title>
      <ion-label *ngIf="showScanning">
        Scanning<ion-spinner name="dots"></ion-spinner>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="ScanBluetooth()" >
          Scan
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ion-list> 
      <ion-item *ngFor="let device of scannedBle">
        <div>
        <h2>{{ device.name || 'Unnamed' }}</h2>
            {{ device.id }} <br>
            RSSI: {{ device.rssi }} <br>
            Advertisement Info: <br>
            <ng-container *ngFor="let ad of device.advertising | keyvalue">
              <div>
                {{ad.key}}:{{ad.value}}
              </div>
            </ng-container> <br>
          </div> 
      </ion-item>
     </ion-list>  -->

   <!-- Bluetooth Serial -->
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        Bluetooth Serial Check
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="ListPairedDevices()" >
          Scan
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list> 
    <ion-item *ngFor="let device of pairedDevices">
      <ion-label>
      <h2>{{ device.name || 'Unnamed' }}</h2>
          {{ device.address }}
      </ion-label> 
    </ion-item>
  </ion-list> -->

  <!-- DEMO BLUETOOTH -->
  <!-- <ion-content>
    <ion-list padding>
        <ion-button expand="block"
                    (click)="startScanning()">scan</ion-button>
        <ion-list-header>
            Paired Devices
        </ion-list-header>
        <ion-item *ngFor="let device of pairedDevices">
            {{device.name}}
        </ion-item>
        <ion-button expand="block"
                    (click)="disconnect()">Disconnect</ion-button>
        <ion-list-header>
            availlable Devices
        </ion-list-header>
        <ion-item *ngFor='let device of unpairedDevices'>
            <span (click)="selectDevice(device.id)">
                {{device.name || device.address}}
            </span>
        </ion-item>
        <ion-spinner name="crescent"
                     *ngIf="gettingDevices"></ion-spinner>
    </ion-list>
</ion-content> -->

<!-- DISCOVER DEVICES TEST -->
<!-- <ion-button (click)="DiscoverDevices()">Discover device</ion-button>
{{isInitialized}}
<div *ngIf="deviceInfoFound">
  {{deviceInfo.name || "Empty"}} <br>
  {{deviceInfo.address || "Empty"}} <br>
  {{deviceInfo.status || "Empty"}} <br>
  {{deviceInfo.services || "Empty"}}
</div> -->


<!-- FILE EXPLORER TEST -->
<!-- <ion-content>
  <ion-button (click)="SelectFile()">Choose File</ion-button>
  DataUri: {{uri.dataURI || "nothing"}}<br>
  Data: {{uri.data || "nothing"}}<br>
  Media Type: {{uri.mediaType || "nothing"}} <br>
  Name: {{uri.name || "nothing"}} <br>
  URI: {{uri.uri || "nothing"}}
</ion-content> -->
<!-- <h2>List 1</h2>
<ion-list class="commercial-list"
                 cdkDropList
                 #createCommercial="cdkDropList"
                 [cdkDropListData]="testList1"
                 [cdkDropListConnectedTo]="[spotList]"
                 (cdkDropListDropped)="Drop($event)" >
                <ion-item cdkDrag color="dark" *ngFor="let spot of testList1">
                {{spot}}
                </ion-item>
              </ion-list>
              <h2>List 2</h2>
              <ion-list class="file-list"
              cdkDropList
              #spotList="cdkDropList"
              [cdkDropListData]="testList2"
              [cdkDropListConnectedTo]="[createCommercial]"
              (cdkDropListDropped)="Drop($event)">
          <ion-item cdkDrag color="dark" *ngFor="let spot of testList2">
            {{spot}}
          </ion-item>
        </ion-list> -->

