<!-- BLUETOOTH LE -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      BLE Connect
    </ion-title>
    <ion-label *ngIf="showScanning">
      Scanning<ion-spinner name="dots"></ion-spinner>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="StartScan()" >
        Scan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-list> 
    <ion-item *ngFor="let device of devices">
      <ion-label>
      <h2>{{ device.name || 'Unnamed' }}</h2>
          {{ device.address }}
          RSSI: {{ device.rssi }}
          Advertisement Info: {{device.advertisement}}
          Status: {{device.status}}
      </ion-label> 
    </ion-item>
   </ion-list>  -->
   <!-- Bluetooth Serial -->

  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        Bluetooth Serial Check
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="ListPairedDevices()" >
          Scan
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list> 
    <ion-item *ngFor="let device of serialDevices">
      <ion-label>
      <h2>{{ device.name || 'Unnamed' }}</h2>
          {{ device.address }}
      </ion-label> 
    </ion-item>
  </ion-list> -->

  <!-- DEMO BLUETOOTH -->
  <!-- <ion-content>
    <ion-list padding>
        <ion-button expand="block"
                    (click)="startScanning()">scan</ion-button>
        <ion-list-header>
            Paired Devices
        </ion-list-header>
        <ion-item *ngFor="let device of pairedDevices">
            {{device.name}}
        </ion-item>
        <ion-button expand="block"
                    (click)="disconnect()">Disconnect</ion-button>
        <ion-list-header>
            availlable Devices
        </ion-list-header>
        <ion-item *ngFor='let device of unpairedDevices'>
            <span (click)="selectDevice(device.id)">
                {{device.name || device.address}}
            </span>
        </ion-item>
        <ion-spinner name="crescent"
                     *ngIf="gettingDevices"></ion-spinner>
    </ion-list>
</ion-content> -->

<!-- FILE EXPLORER TEST -->
<!-- <ion-content>
  <ion-button (click)="SelectFile()">Choose File</ion-button>
  DataUri: {{uri.dataURI || "nothing"}}<br>
  Data: {{uri.data || "nothing"}}<br>
  Media Type: {{uri.mediaType || "nothing"}} <br>
  Name: {{uri.name || "nothing"}} <br>
  URI: {{uri.uri || "nothing"}}
</ion-content> -->
<h2>List 1</h2>
<ion-list class="commercial-list"
                 cdkDropList
                 #createCommercial="cdkDropList"
                 [cdkDropListData]="testList1"
                 [cdkDropListConnectedTo]="[spotList]"
                 (cdkDropListDropped)="Drop($event)" >
                <ion-item cdkDrag color="dark" *ngFor="let spot of testList1">
                <!-- {{spot.Name}}: {{spot.DurationMinutes}} -->
                {{spot}}
                </ion-item>
              </ion-list>
              <h2>List 2</h2>
              <ion-list class="file-list"
              cdkDropList
              #spotList="cdkDropList"
              [cdkDropListData]="testList2"
              [cdkDropListConnectedTo]="[createCommercial]"
              (cdkDropListDropped)="Drop($event)">
          <ion-item cdkDrag color="dark" *ngFor="let spot of testList2">
            {{spot}}
            <!-- {{spot.Name}}: {{spot.DurationMinutes}} -->
          </ion-item>
        </ion-list>

