<ion-header class="nav-bar">
  <ion-toolbar class="nav-bar-background">
    <div class="nav-logo-container">
      <img src="../../assets/icon/logo-sc.png">
    </div>
    <div class="nav-title-container">
      <img src="../../assets/icon/title-logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-wrapper">
    <div class="home-container">
      <div class="logo-wrapper" #logo>
        <div class="logo-container">
          <img class="logo" src="../../assets/icon/main-logo.png" [@showLoginAnimation]="showLogin"> 
        </div>
      </div>
      <ion-button class="create-account-close" expand="full" fill="clear" *ngIf="!showLogin" (click)="CloseCreateAccount()" >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <app-login *ngIf="showLogin" ></app-login>
      <app-create-account *ngIf="!showLogin" ></app-create-account>
      <ion-button class="create-account-button" expand="full" shape="round" color="primary" *ngIf="showLogin" (click)="OpenCreateAccount()" >Create Account</ion-button>
      <!-- <app-test></app-test> -->
    </div>
  </div>
</ion-content>
<div class="overlay-wrapper" [@showMainLoading]="showMainLoading">
  <div class="overlay-container">
    <div class="image-wrapper">
      <div class="image-container">
        <img src="../../assets/icon/main-logo.png" />
      </div>
    </div>
    <div class="info-container">
      <ion-text color="primary">
        {{loadingInfoMessage}}
      </ion-text>
    </div>
  </div>
</div>