<div class="add-pad-wrapper">
  <div class="add-pad-container">
    <div class="add-pad-main">
      <div class="add-pad-button">
        <ion-button fill="clear" (click)="OpenAddModal()"><ion-icon size="large" color="dark" name="add-circle-outline"></ion-icon></ion-button>
      </div>
      <div class="pad-list-wrapper" >
        <div class="pad-list" *ngFor="let spot of userInfo.PadCollections[selectedPadCollectionIndex].SpotList; let i = index">
          <div class="pad-item">
            <ion-img [style.background]="spot.Setting.PadCollectionBackgroundColor" (click)="PlayAudioFile(spot)" id="padImage{{i}}" src="../../assets/images/SoundPad8.png"></ion-img>
            <ion-label class="pad-item-name">{{spot.Name}}</ion-label>
          </div>
        </div>
      </div>
    </div>
    <div class="add-pad-files">
      <ion-button expand="full" (click)="SelectFile()" >Get Local Files</ion-button>
      <ion-list class="file-list" *ngFor="let spot of userInfo.Spots">
        <ion-item color="dark" [disabled]="!spot.CanResolveUri">
          {{spot.Name}}: {{spot.DurationMinutes | convertSecondsForView }}
        </ion-item>
      </ion-list>
    </div>
    <audio hidden preload="auto" src=""></audio>
  </div>
</div>
