<div class="logout-modal-wrapper">
  <div class="logout-modal-container">
    <h2>Are you sure you want to Logout?</h2>
    <p>All runing systems will be shut down and you will not longer be casting.</p>
    <div class="logout-button-container">
      <div class="logout-cancel">
        <ion-button color="danger" (click)="Cancel()">Cancel</ion-button>
      </div>
      <div class="logout-submit">
        <ion-button color="success" (click)="Logout()">Logout</ion-button>
      </div>
    </div>
  </div>
</div>
